iframe {
    width: 200%;
    height: calc(100vh - 200px);
    border: 0;
    bottom: 0px;
    position: relative;
    margin-bottom: 0px;
    overflow-x: auto;
    overflow-y: auto;
    opacity: 50;
    chrome: 'transparent'
        ms-zoom: 0.75;
        -moz-transform: scale(0.75);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.75);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.5);
        -webkit-transform-origin: 0 0;
}
